.backround_animation {
  position: absolute;
  top: 0;
  right: 1em;
}

.stars {
  animation: backround_animation_stars 3s ease 1.5s infinite;
}

.rays {
  animation: backround_animation_rays 3s ease 1s infinite ;
}

.stars_rays {
  animation: stars_rays_animation 3s ease 1s infinite;
}

@keyframes backround_animation_stars {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes backround_animation_rays {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes stars_rays_animation {
  0% {
    filter: blur(0);
    opacity: 0;
  }

  50% {
    filter: blur(2px);
    opacity: 1;
  }

  100% {
    filter: blur(0);
    opacity: 0;
  }
}

