@media screen and (max-width: 425px) {
  
  nav {
    transform: scale(0.7);
    align-items: baseline;
    width: 100vw;
  }

  header {
    height: 100vh;
    width: 100vw;
  }

  .Background_img {
    object-fit: cover;
    object-position: 100% 100%;
    
  }

  lh {
    margin-left: 0;
  }
  
  .backround_animation {
    object-fit: cover;
    right: 0;
    left: 10px;
    transform: scale(0.80);
  }
}