@media screen and (max-width: 768px) {
  
  nav {
    justify-content: space-between;
  }

  nav img {
    display: inline;
  }

  lh {
    margin-left: 2.5em;
  }
  
  ul {
    display: none;
  }

  #about {
    display: flex;
    flex-direction: column;
  }

  #about p {
    margin: 1.5em;
  }

  #about p + p {
    margin-top: 0em;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  #logo {
    margin-bottom: 1.5em;
    
  }

  footer p { 
    text-align: center;
    margin: 0;
  }

  #hello {
    margin-top: 1em;
    margin-bottom: 1.5em;
  }
}